#answer_div {
	/*margin-left: 1em;*/
}

.brand-logo {
	padding-left: 1em !important; 
}

.parallax-container {
	height: 50vh;
	margin-left: -3em; 
	margin-right: -3em;
}

form {
	margin-right: 3em;
	margin-left: 3em;
}

.username {
	font-style: italic;
}

#welcome {
	color: #90a4ae;
}

#likes {
	text-align: right;
}

#search_button {
	margin-left: 1em;
}

.tag {
	font-weight: bold;
}

footer.page-footer {
	margin:0em !important;
}

#home {
	margin-left:3em;
}

#blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: .75;
}

.clear {
  filter: blur(0px);
  color:white;
}

#background {
	background: url("date.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
}

#spacer {
	padding-top: 35vh;
}

#banner {
	opacity: .75;
}

#banner h2{
	color:black;
	opacity: 2.0;
}

#grey_hover:hover {
	font-weight:bold;
}

#bold{
	font-weight: bold;
}

#about_card {
	padding: 1.5em;
}

