
    <script id="about-template" type="x-tmpl-mustache/template">

      </br>
      <div class="row">
        <div class="col s12 m12  l12 ">
          <div class="card z-depth-3">
            <div class="card-content black-text" id="about_card">
              <span class="blue-text card-title"><h3 id="add_title">About Date-abase</h3></span>
        <p> Date-abase is a collection of wonderful, exciting and romantic date ideas in and around the New York and New Jersy Area. The collection of dates was started as a small project between a group of friends who just needed some cool places to go. </p><br>

        <p> Today, Date-abase is a thriving web site where users can search for date ideas by a variety of different criteria and can add their own ideas to the ever growing database. The Date-abase website  started as a side project hobby and is continually being updated and upgraded with new and cool features so stay tuned to see what is in store! </p><br>

        <p>
        Thank you and we hope you enjoy your date! <br><br>

        Best, <br><br>

                <em>Date-abase team </em>
        </p>
            </div>
          </div>
        </div>
      </div>

    </script>