{%verbatim%}

<script id="create-template" type="x-tmpl-mustache">

  <br>      
  <h4 class="center teal-text"> Add Your Date Idea for Everyone to Enjoy!</h4>

    <form action="" id='create_form' method="POST">

	<div class="section white">
	  <div class="row">
	  <div class="container">

		    <div class="col s12">

		    	<div class="col s12">
			      	<p>Place: <span class="directions"> Ex: Wolf and Lamb</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="place" class="validate">
					</p><br>
				</div>

				<div class="col s4">

					<p>Address: <span class="directions"> Ex: 1400 Broadway</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="address" class="validate">
					</p>

					<p>Area: <span class="directions"> Ex: West Villiage</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="area" class="validate">
					</p>

		      		<p>State: </p>				
					<p>
				      <input class="with-gap" name="state" value="ny" type="radio" id="ny"  />
				      <label for="ny">NY</label>
				    </p>
					<p>
				      <input class="with-gap" name="state" value="nj" type="radio" id="nj"  />
				      <label for="nj">NJ</label>
				    </p>
				    <p>
				      <input class="with-gap" name="state" value="other" type="radio" id="other"  />
				      <label for="other">Other</label>
				    </p>

				</div>

		    	<div class="col s4">
		    		<p>Category: </p>				
					<select class="browser-default">
						<option value= "ACT1" > Acrobatic </option>
						<option value= "ACT2" > Arcade </option>
						<option value= "ACT3" > Archery </option>
						<option value= "ACT4" > Bar </option>
						<option value= "ACT5" > Billiards </option>
						<option value= "ACT6" > Boat Rental </option>
						<option value= "ACT7" > Boat </option>
						<option value= "ACT8" > Bowling </option>
						<option value= "ACT9" > Bucket List </option>
						<option value= "ACT10" > Chill </option>
						<option value= "ACT11" > Experience </option>
						<option value= "ACT12" > Go Karting </option>
						<option value= "ACT13" > Hourseback Riding </option>
						<option value= "ACT14" > Ice Skating </option>
						<option value= "ACT15" > Karaoke </option>
						<option value= "ACT16" > Mini Golf </option>
						<option value= "ACT17" > Movies </option>
						<option value= "ACT18" > Musuem </option>
						<option value= "ACT19" > Painting </option>
						<option value= "ACT20" > Park </option>
						<option value= "ACT21" > Play </option>
						<option value= "ACT22" > Zoo </option>

						<option value= "AMU"  >Amusement Park</option>
						<option value= "DES" >Dessert (D)</option>
						<option value= "DIN_P" >Dessert (D/P)</option>
						<option value= "DIN_D" >Dinner (D)</option>
						<option value= "DIN_Deal" >Dinner (Deal)</option>
						<option value= "DIN_M" >Dinner (M)</option>
						<option value= "LUN" >Lunch (D)</option>
						<option value= "STA" >Stadium</option>
						<option value= "WEB" >Website</option>
					</select>
					<br>

		      		<p>Price Level: </p>				
					<p>
				      <input class="with-gap" name="price" value="$" type="radio" id="$"  />
				      <label for="$">$</label>
				    </p>
					<p>
				      <input class="with-gap" name="price" value="$$" type="radio" id="$$"  />
				      <label for="$$">$$</label>
				    </p>
				    <p>
				      <input class="with-gap" name="price" value="$$$" type="radio" id="$$$"  />
				      <label for="$$$">$$$</label>
				    </p><br>

					<p>Parking</p>
					  <div class="switch">
					    <label>
					      Street/Free
					      <input name="parking" type="checkbox">
					      <span class="lever"></span>
					      Lot/Paid
					    </label>
					  </div><br>
				</div>

				<div class="col s4">
			      	<p>Phone: <span class="directions"> Ex: 718-888-8080</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="phone" class="validate">
					</p>

			      	<p>Website: <span class="directions"> Ex: http://google.com </span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="website" class="validate">
					</p>

					<div class="input-field col s12">
			      	<p>Notes: <span class="materialize-textarea directions"> Ex: This place was great!</span> </p>
			      	<p>
				        <input id="icon_prefix" type="text" name="notes" class="validate">
					</p>
					</div>

				</div>

			</div>
		</div>

    	<div class="row">
		<div class="container">
			<div class="col s4"><p></p></div>
			<div class="col s4">	
				<br><br>
				<button class="btn waves-effect waves-light blue-green" type="submit" name="action">Submit
				    <i class="material-icons right">send</i>
			    </button>
			    <br>
			</div>
			<div class="col s4"><p></p></div>
		</div>
		</div>

    </form>

	</script>
{%endverbatim%}

